.Register {
  background-color: #202020;
  color: white;
  width: 1280px;
  height: 700px;
  padding: 70px 442px 70px 442px;
  box-sizing: border-box;
}

.Register__top {
  margin: auto;
  width: 396px;
}

.Register__bottom {
  margin: auto;
}

.Register__button_disabled {
  background-color: gray;
}

.Register__logo {
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 10px;
  background-color: #2be080;
}

.Register__logo:hover {
  opacity: 0.8;
}

.Register__logo-round {
  position: relative;
  top: 8px;
  left: 8px;
}

.Register__logo-smile {
  position: relative;
  top: 3px;
  left: -9px;
}

.Register__title {
  margin: 40px 0 40px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.Register__form {
  margin: auto;
  width: 396px;
}

.Register__reg-data {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
  border: none;
  border-bottom: 1px solid #424242;
}

.Register__label {
  width: 100%;
  height: 12px;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
}

.Register__input {
  background-color: #202020;
  width: 396px;
  min-height: 17px;
  margin-bottom: 10px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: white;
  border: none;
}

.Register__validation {
  min-height: 12px;
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
}

.Register__buttons {
  padding: 0;
  margin: 0 auto 31px auto;
  border: none;
}

.Register__button {
  display: block;
  padding: 0;
  margin: 0 auto;
  border: none;
  width: 396px;
  height: 45px;
  background: #4285f4;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.Register__button_disabled {
  background-color: #8b8b8b;
}

.Register__button:hover {
  opacity: 0.8;
}

.Register__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8b8b8b;
}

.Register__error {
  min-height: 19px;
  color: #ee3465;
  margin-top: 100px;
  margin-bottom: 0;
}

.Regisler__link {
  margin-left: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285f4;
  text-decoration: none;
}

.Regisler__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1279px) {
  .Register {
    width: 100%;
    height: 1024px;
    padding: 232px 186px 232px 186px;
  }

  .Register__input {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .Register {
    height: 780px;
    padding: 56px 30px 30px 30px;
  }

  .Register__top {
    width: 260px;
  }

  .Register__logo {
    margin: auto;
  }

  .Register__title {
    width: 260px;
    margin: 50px auto 80px auto;
    text-align: center;
  }

  .Register__form {
    width: 260px;
  }

  .Register__buttons {
    padding: 0;
    margin: 0 auto 31px auto;
    border: none;
  }

  .Register__button {
    width: 260px;
    font-size: 12px;
    line-height: 15px;
  }

  .Register__text {
    font-size: 12px;
    line-height: 15px;
  }

  .Regisler__link {
    font-size: 12px;
    line-height: 15px;
  }

  .Register__error {
    margin-top: 190px;
  }
}
